.main{
    margin-left: 20vw;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.landing{
    display: flex;
    gap: 3%;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right{
    object-fit: cover;
    padding: 0 60px;
    display: flex;
}

.jpeg{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70px;
    align-items: center;
    filter: drop-shadow(0px 0px 1px #44444440);
    position:relative;
    z-index: 12; 
    margin-right: -30px;
    margin-top: 55px;
}

.resume-jpeg{
    width: 100%;
    padding: 4px;
    background-color: #E9E9EA;
}

.jpeg-text{
    font-size: 10px;
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #ffffff66;
}

.jpeg:hover .jpeg-text{
    color: white;
    background-color: #0064E1;
}

.hobbies{
    padding-left: 20px;
}

.hobbies-jpeg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 55px;
    margin-top: -15%;
    margin-right: -30%;
}

.hobby-folder{
    width: 70%;
    object-fit: cover;
}

.knitting{
    width: 90%;
    object-fit: cover;
    margin-top: -50%;
    margin-left: -20%;
}

.food{
    width: 70%;
    object-fit: cover;
    margin-top: 15%;
    margin-left: -60%;
}

.nails{
    width:90%;
    object-fit: cover;
}

.camera{
    width: 80%;
    object-fit: cover;
    margin-top: -35%;
    margin-left: -110%;
}

@media (max-width: 950px){
    .landing{
        flex-direction: column;
        gap: 40px;
    }
    .left{
        width:100%;
    }
    .right{
        width: 60%;
    }
    .hobbies-jpeg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 25px;
    margin-top: -10%;
    margin-right: -30%;
    }   

    .knitting{
        width: 100%;
        object-fit: cover;
        margin-top: -60%;
        margin-left: -25%;
    }

    .food{
        width: 100%;
        object-fit: cover;
        margin-top: 15%;
        margin-left: -63%;
    }

    .nails{
        width:100%;
        object-fit: cover;
    }

    .camera{
        width: 100%;
        object-fit: cover;
        margin-top: -60%;
        margin-left: -110%;
    }
}