.footnote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 180px;
    padding-bottom: 70px;
    z-index: 1;
    bottom:0;
    align-self: stretch;

    border-top: 2px solid #a4b5e3ca;
}

.nav-items-foot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-stars{
    height: 40px;
}