footer{
    margin-left: 20vw;
    padding: 60px;
    display: flex;
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
    justify-content: space-between;
    align-self: center;
    z-index: 1;
}

.left-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 30px;
}

.right-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}


.nav-link-foot{
    text-decoration: none;
    transition: 0.2s;
    color:#156526;
}

.nav-link-foot:hover{
    text-decoration: underline;
}
