html{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    margin: 0px;

    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    /*color:#156526;*/
    color:#1c1c1c;
}


.link{
    color: black;
    text-decoration: none;
    cursor: pointer;
    text-underline-offset: 2px;
    transition: 0.3s;
}


/*text styles*/
    h1{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 55px;
        margin: 0;
        display: flex;
        color:#156526;
    }

    h2{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 40px;
        margin: 0;
        display: flex;
    }

    h3{
        font-family: "Playfair Display", 'Times New Roman', Times, serif;
        font-size: 26px;
        font-weight: 500;
        margin: 0px;
        color:#156526;
    }

    h3-reg{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin: 0px;
    }

    h4{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        margin: 0;
        display: flex;
    }

    small{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
        display: flex;
        line-height: 27px;
    }

    p{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
    }

    p-semi{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        margin: 0;
    }
    

    homepage-ux{
        font-family: "Playfair Display", 'Times New Roman', Times, serif;
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 25px;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    a{
        color:#1c1c1c;
        text-decoration: none;
    }

    #scrollBtn {
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 50px;
        height: 50px;
        background-color: #333;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 2;
    }
    
/* Visible state */
#scrollBtn.show {
    opacity: 1;
    pointer-events: auto;
}

/* Hover effect (only works when .show is active) */
#scrollBtn.show:hover {
    opacity: 0.7;
}


.fade-in {
    opacity: 0.7;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.show {
    opacity: 1;
}

.fade-inmore {

    transform: scale(0.7);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-inmore.show {

    transform: scale(1);
}


.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}