html{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    overflow-x: hidden;
    margin: 0px;

    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*text styles*/
    h1{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        margin: 0;
        display: flex;
    }

    h2{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        margin: 0;
        display: flex;
    }

    h3{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin: 0px;
        display: flex;
    }

    h4{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin: 0px;
        display: flex;
    }

    p{
        font-family: "DM Sans", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
        display: flex;
    }
    
    .project-title{
        font-family: "Playfair Display", 'Times New Roman', Times, serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        display: flex;
    }

    homepage-kelly-la{
        font-family: "Playfair Display", 'Times New Roman', Times, serif;
        font-size: 85px;
        font-weight: 500;
        letter-spacing: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }