header{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    padding: 35px;
    justify-content: space-between;
    box-sizing: border-box;
    border-right: 1px solid #0000001a;
    position: fixed;
    top: 0;
    left: 0;
    color:#156526;
}

.nav-font{
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    text-decoration: none;
    color:#156526;
}

.name{
    padding-bottom: 40px;
    
}

.nav-pages{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link{
    text-decoration: none;
    background: linear-gradient(
        to right,
        #f0b2ee33 50%,
        transparent 50%
    );
    background-size: 200% 100%;
    background-position: right bottom;

    transition: background-position 0.4s ease, padding-left 0.4s ease;
    color:#156526;
}

.nav-link:hover{
    background-position: left bottom;
    padding-left: 10px;
}

.nav-icons{
    display: flex;
    height: 48px;
    align-items: center;
    gap: 10px;

}

.icon{
    display: flex;
    width: 25px;
    height: 25px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    opacity: 0.7;
    border-radius: 50%;
    border: 1.5px solid #0000001a;
    transition: 0.2s;
}

.icon:hover{
    opacity: 1;
    background-color: #f0b2ee33;
}

.icon-container, .icon-container{
    height: 20px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 0;
}

.header-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;

}