.main{
    margin-left: 20vw;
    margin-top: 30vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h1,h2,h3,h4,p-semi{
    color:#156526;
}

.landing-text{
    display: inline-block;
    width: 70%;
}

.to-abtme{
    cursor: pointer;
    text-decoration: none;
    color:#156526;
}

.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #f0b2ee66;
    backdrop-filter: blur(8px);

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    z-index: 9999;

    padding:0 10px;

    transform: translate(-50%, -50%);
    opacity: 0;
    transform: scale(0.9);   /* slightly smaller initially */
    transition: 
        opacity 0.2s ease,
        transform 0.2s ease;
}

.custom-cursor{
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    color:#000000;
}

.custom-cursor img {
    width: 22px;
    height: 22px;
    user-select: none;
    pointer-events: none;
}

.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.section-title{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    align-items:  center;
}

.line{
    display: block;
    height: 1px;
    background-color: hsla(0, 0%, 0%, 0.1);
    flex: 1;
}

.project{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:15px;
}

.sevenseas{
    background-color: #8B5E3C;
    transition: 0.2s;
}

.ss:hover .sevenseas{
    background-color: #976d4d;
}

.kiosk{
    background-color: #c1bce5;
    transition: 0.2s;
}

.kot:hover .kiosk{
    background-color: #d0ceea;
}

.cooklab{
    background-color: #419A54;
    transition: 0.2s;
}
.cook:hover .cooklab{
    background-color: #6fb07c;
}

.wireframe-container{
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
    padding: 10% 15%;
}

.wireframe-img{
    width: 100%;
    height: auto;
}

.tabs{
    display: flex;
    gap: 10px;
}

.tab{
    background-color: hsla(0, 0%, 59%, 0.15);
    padding: 3px 15px;
    font-size: 14px;
    width: fit-content;
}

.abt-me{
    display: flex;
    gap:10px;
    justify-content: center;
}

.skill-section{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    padding-top:10px;
}

.jpeg{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70px;
    align-items: center;
    filter: drop-shadow(0px 0px 1px rgba(68, 68, 68, 0.25));
    position:relative;
    z-index: 12; 
}

.jpeg2{
    padding-left:80px;
}
.jpeg3{
    padding-left:80px;
}

.finder{
    height: 250px;
    display: inline-block;
}

.main-imgs{
    margin-right:-240px;
}

.img1{
    width:280px; 
    position:relative;
    z-index: 10; 
    margin-bottom:100px;
}

.img2{
    width:380px;
    margin-left:-120px;
}

.imessages{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    margin-top: 50px;
    position:relative;
    z-index: 11; 
}

.text-link{
    height: 30px;
    display: block;
    transform-origin: bottom right;
}

.text-link:hover{
    animation: zoomOnce 0.8s ease;
    cursor: pointer;
    
}

@keyframes zoomOnce {
    0%   { transform: scale(1); }
    45%  { transform: scale(1.14); }
    50% { transform: scale(1.145); }
    100% { transform: scale(1); }
}

.center{
    display: flex;
    margin-left: -315px;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-items: center;
    padding-top:180px;
    margin-left: -60px;
}

@media (max-width: 1200px){
    .img1{
        margin-bottom:-150px;
    }
    .img2{
        margin-left:100px;
    }
    .jpeg3{
        padding-left: 20px;
    }
}

@media (max-width: 1100px){
    .center{
        margin-left: -345px;
    }
    .jpeg2{
        padding-left: 60px;
        padding-top: 30px;
    }
    .img1{
        margin-bottom:-130px;
        margin-top: 120px;
    }
    .img2{
        margin-left: 30px;
    }
    .finder{
        margin-top:40px;
    }
    .main-imgs{
        display: grid;
    }
    .imessages{
        margin-left: -150px;
        margin-top: 0px;
    }
    .right{
        margin-left: 0px;
        margin-top:-80px;
    }
    .left{
        margin-top: 10px;
    }
}

@media (max-width: 800px){
    .center{
        margin-left: -405px;
    }

    .jpeg2{
        padding-left: 10px;
        padding-top: 30px;
    }
    .img1{
        margin-bottom:-60px;
        margin-top: 120px;
    }
    .img2{
        margin-left: -40px;
    }
    .finder{
        margin-top:50px;
    }
    .main-imgs{
        display: grid;
    }
    .imessages{
        margin-left: -70px;
        margin-top: 0px;
    }
    .right{
        margin-left: -10px;
        margin-top:-80px;
    }
    .left{
        margin-top: 0px;
        margin-left: -0px;
    }
}