/*landing page*/
.landing{
    width: 100vw;
    height: 82vh;
    top: 0px;

    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    
    background: radial-gradient(53.38% 68.33% at 50% 50%, #FFF 0%, #A4B6E9 100%);
}

.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 200px;
}

.intro-name{
    font-size: 55px;
    align-items: center;
    margin-bottom: 10px;
}

.intro-description{
    text-align: center;
    max-width: 450px;
}

.view-works{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 40px;

    opacity: 0.4;
    font-size: 15px;
    color: black;
    text-decoration: none;

    transition: 0.5s;
}

.view-works:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.07);
    color: black;
}


/*all projects*/
.all-projects{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.latest-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;

    border-bottom: 1px solid #000;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 180px 200px;
    align-items: center;
    gap: 70px;
    background-color: #4b9b5b;
    color: white;
}

.wireframe-container{
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 400px;
    background: radial-gradient(50% 50% at 50% 50%, #4b9b5bb3 0%, rgba(26, 53, 31, 0.00) 100%);
}

.wireframe-img{
    width: 100%;
    height: 100%;
}

.all-projects-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.project-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.project-extra{
    opacity: 70%;
    margin-top: 10px; 
}

.read-case-study{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}