.landing{
    width: 100vw;
    position: relative;
    
    display: flex;
    align-items: center;
    margin-top: 140px;
    flex-direction: column;
    display: flex;
}

.landing-content{
    display: flex;
    flex-direction: column;
    padding: 0 30px ;
    align-items: center;
    align-self: stretch;
    gap: 30px;
}


.logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.logo-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    height: 70px;
    display: block;
}
.logo.extra{
    border: none;
    border-radius:0;
    scale: 0.8;
    filter: blur(2px) grayscale(100%);
}

.landing-img-container{
    align-items: center;
    justify-content: center;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #8B5E3C;
    padding: 30px 20%;
    margin-top: 20px;
}

.landing-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    min-width: 0;
    padding-left: 50px;
}

.overview{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-direction: column;
    width: 100%;
}

.details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.button{
    color: white;
    background-color: #8B5E3C;
    padding: 10px 40px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    border-radius: 30px;
    transition: 0.3s;
    opacity: 1;
}

.button:hover{
    opacity: 70%;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    width: 100%;
}

.section-content{
    display: flex;
    gap: 70px;
    flex-direction: column;
    padding: 0;
}

.sub-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.paragraphs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sub-sub-section{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
} 


ul{
    line-height: 27px;
    margin: 0;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 50px;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

    align-self: stretch;
    margin-top: 50px;
    border-bottom: 1px solid #000000;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 15px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(59, 59, 59);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.dot.active, .dot:hover {
    background-color: #000000;
}


table {
    display: table;
    border-radius: 12px;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-color: gray;
}

th {
    text-align: left;
    background-color: #8B5E3C;
    color: white;
    font-weight: 300;
}

td, th {
    border: 1px solid rgba(0, 0, 0, 0.415);
}

td.checkbox {
    text-align: center;
    transform: scale(1.5);
    vertical-align: middle;
}

.five-vid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    justify-content: center;
    align-items: top;
}

.categories-hoz{
    display: flex;
    gap: 40px;
}

.categories-ver{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.competitor-img{
    width: 200px;
    justify-items: center;
}

.competitor-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.img-description{
    margin-top: 5px;
    opacity: 60%;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.changes-img{
    width: 200px;
}

video{
    object-fit: contain;
    cursor: pointer;
    overflow: clip;
    border-radius: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    display: block;
}

img{
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.research-icon{
    border: none;
    height: 60px;
}

.iteration-img{
    display: block;
    height: 350px;
}

.content-with-nav{
    display: flex;
    gap: 50px;
    padding-right: 180px;
    padding-left: 160px;
    box-sizing: border-box;
    width: 100%;
}

.side-bar{
    position: sticky;
    display:flex;
    flex-direction: column;
    height: fit-content;
    gap: 20px;
    min-width:200px;
    align-self: flex-start;
    padding-left: 0;
}

.mini-nav-tab{
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding: 0px 20px;

    transition: all 0.3s ease;
    color: #333;
    opacity: 60%;
}

.mini-nav-tab:hover{
    color:#8B5E3C;
    opacity: 100%;

}

.mini-nav-tab.active{
    color:#8B5E3C;
    font-weight: 500;
    opacity: 100%;

}

.mini-nav-tab p{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

